<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission To Mars</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Fontawesome glyicons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Poppins|Work+Sans:300,400,600,700&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


  <!-- script for navbar transition -->
  
  <script>
 $(document).ready(function() {
    $("#btnFetch").click(function() {
      // disable button
      $(this).prop("disabled", true);
      // add spinner to button
      $(this).html(
        `<span class="fa fa-spinner fa-spin" role="status" aria-hidden="true"></span> Scraping...`
      );
    });
});
 </script>
</head>

<body>
  <header>
  <div class="container" style="font-family: 'Poppins','Sans-Serif'">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a id="btnFetch" class="btn btn-primary btn-lg" href="/scrape" role="button" >Scrape New Data</a></p>
      <br>
      

      <p>Note: It could take up to 30 seconds for application to scrape new data.</p>
    </div>




    <div class="row col-sm">
    <!-- Craigslist Listings -->
    <div class="row">

        <strong><h2>Latest Mars News</h2></strong>
        
    </div>
    <div class="row">

         <h4 style="opacity:0.9;">{{latest.title}}</h4>

         <p> {{latest.header}}</p>
    </div>
    
    </div>
      </div>
    

  
</header>
<br>
  <section id="portfolio" class="text-center border-dark">
    <div class="container">
      <div class="row"style="font-family: 'Poppins','Sans-Serif'">
          <h2>Featured Mars Image</h2>

    </div>

    </div>

  <div class="container border border-dark p-3 rounded " style ="border-width:3px  !important; border-color:grey !important">
    
  <div class="row">
                <!--Grid column-->
            
                <div class="col-md-7">
                    <img class="img-thumbnail"  src="{{ Featured.Address }}" alt="web-visualization">
            
            </div>
                <div class="col-md-5 text-left" style="font-family: 'Poppins','Sans-Serif'">
                    <div class="title"><div class="subtitle" style="color: black; font-size: 25px;">Mars Facts</div></div>
                    <p class ="border border-dark p-1"> {{ Weather.info }} </p>

                    <table class= "table table-bordered p-1" >{% for table in tables %}
                        {{ table|safe }}
                     {% endfor %}
                    </table>
                </div>   

               
                <!--Grid column-->
            <!--Grid row-->
  </div>
  </div>
  </section>

<br><br><br>
  <section id="portfolio2" class="border-dark text-center" style="font-family: 'Poppins','Sans-Serif'">
      <div class="container">
              <div class="row ">

            <h2>Mars Hemisphere</h2>
  
    </div>
      </div>
  
    <div class="container border border-dark p-3 rounded " style ="border-width:3px  !important; border-color:grey !important">
            <div class="row">
      
                  <!--Grid column-->
                  {% for x in Hemisphere.address %}

                  <div class="col-md-6 center " >
             
                      <img class="img-thumbnail"  src="{{x}}">
                    
              
              </div>
              {% endfor %}

  
                 
                  <!--Grid column-->
              <!--Grid row-->
    </div>
    </div>
    </section>
    <br>
    <br>
    <br>

</body>

</html>

